changing-backend/HELP.md
changing-backend/target/
changing-backend/.mvn/wrapper/maven-wrapper.jar
changing-backend/**/src/main/**/target/
changing-backend/**/src/test/**/target/

### STS ###
changing-backend/.apt_generated
changing-backend/.classpath
changing-backend/.factorypath
changing-backend/.project
changing-backend/.settings
changing-backend/.springBeans
changing-backend/.sts4-cache

### IntelliJ IDEA ###
changing-backend/.idea
changing-backend/*.iws
changing-backend/*.iml
changing-backend/*.ipr

### NetBeans ###
changing-backend/nbproject/private/
changing-backend/nbbuild/
changing-backend/dist/
changing-backend/nbdist/
changing-backend/.nb-gradle/
changing-backend/build/
changing-backend/**/src/main/**/build/
changing-backend/**/src/test/**/build/

### VS Code ###
changing-backend/.vscode/
changing-backend/.idea/
changing-backend/.mvn/
changing-backend/mvnw
changing-backend/mvnw.cmd


#FRONTEND
# Miscellaneous
changing_app/*.class
changing_app/*.log
changing_app/*.pyc
changing_app/*.swp
changing_app/.DS_Store
changing_app/.atom/
changing_app/.build/
changing_app/.buildlog/
changing_app/.history
changing_app/.svn/
changing_app/.swiftpm/
changing_app/migrate_working_dir/


# Flutter/Dart/Pub related
changing_app/**/doc/api/
changing_app/**/ios/Flutter/.last_build_id
changing_app/.dart_tool/
changing_app/.flutter-plugins
changing_app/.flutter-plugins-dependencies
changing_app/.pub-cache/
changing_app/.pub/

# Symbolication related
changing_app/app.*.symbols

# Obfuscation related
changing_app/app.*.map.json

# Android Studio will place build artifacts here
changing_app/android/app/debug
changing_app/android/app/profile
changing_app/android/app/release
changing_app/build
changing_app/.idea
